/* Practicing targetting Elements */

body{
    color: lightslategrey
}
#main-content{
    color: turquoise;
}
.test{
    color: purple;
}
p{
    font-size: 12px;
    color: red;
}
strong{
    color: yellow
  /*   This is explicit targeting */
}

a{
    text-decoration: underline;
    color: lightgreen
}
span{
    text-transform: uppercase;
}
h1{
    font-size: 32px;
}
div{
    width: 100%;
    color: aquamarine;
    background-color: rgb(255, 255, 255)
}