body {
    margin: 0 auto;
    width: 950px auto;
    background-color: lightslategrey;
}

#main-content {
    text-align: center;
    background-color: rgb(157, 210, 243);
    width: 900px ;
    margin: 0 auto;
    height: 100%;
}

/* There is also a vertical collapse, if those margins are identical --> they collapse and feMerge

if there is a larger one --> it will override

*/
.box {
    text-align: inherit;

    /* we can write them out individually or for both top/bottom */
    margin: 30px 25%;
    border: 2px solid grey;
    width: 50%;
    /* 
    padding: 30px;
    padding: 30px;
    width: 200px;
    The width is equaling to:
    200 of the border + 30x4 of margin and padding + 1 solid right + 1 left
    200 + 30 + 30 + 30 + 30 + 1 + 1 
    */

}