body {
    margin: 0 auto;
    background-color: lightslategrey;
}

#main-content {
    text-align: center;
    background-color: rgb(157, 210, 243);
    width: 900px ;
    margin: 0 auto;
    height: 100%;
}


.box {
    padding: 30px;
    margin: 10px auto;
    border: 2px solid grey;
    width: 50%;

}