body{
    background-color: lightgreen;
}
#main-content{
    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 2%
}
#main-content div{
    background-color: grey;
    margin:  0 0 2px 0;
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/background */
.static-width{
    width: 300px;
    height: 300px;
    background: lightsalmon;
    background-image: url(https://caniuse.com/img/browserstack.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%
/* We can also get granular by putting in pixels */
}

