*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: black
}
#wrapper{
    width:1200px;
    background-color: #72588e;
    margin:0 auto;
}
.header{
    padding: 20px;
    height:45px;
    width: 1160px;
    font-family: Comic Sans MS, arial;
    color:#0f1119;
    font-weight:bold;
    font-size: 15px;
    background-color: #eeebeb;
    margin:auto;
}
.header .a{
   float:left;
}
.header .b{
    float:right;
}
.about h3{
    background: linear-gradient(#635a5a, #979797, #8e8585);
    padding-left:10px;
    color:white;
    background-color:#797373
}
.about {
    margin:30px;
   
}
.aboutpic{
    margin-right:30px;
    border: 5px solid grey;
    width:535px;
    height:auto;
}
.about-text{
    margin-left:10px;
    padding-bottom:35px;
    font-size:25px;
    height:auto;
    width: 555px;
    float:right;   
    background-color:#eeeeee
}
.about-text a{
    color:black;
}
.about-text p{
    font-size:20px;
}

/* This completes the introduction */

/* main content  */
.main_content{
    height:630;
    width:auto;
    margin:10px;
    padding:0px;
    display:flex;
    flex-direction:row;
    color:#403f3f
}
.main_content p{
    height
    font-size:16px;
}

.row1{
    background: linear-gradient(#c0b0b0, #efd4d4, #b6aeae);
    padding:5px;
    margin:20px;
}
.row2{
    background: linear-gradient(#c0b0b0, #efd4d4, #b6aeae);
    padding:5px;
    margin:20px;
}
.row3{
    background: linear-gradient(#c0b0b0, #efd4d4, #b6aeae);
    padding:5px;
    margin:20px;
}
.row1 h2{
     background: linear-gradient(#635a5a, #979797, #8e8585);
     background-color:#797373;
     color:white;
}
.row2 h2{
     background: linear-gradient(#635a5a, #979797, #8e8585);
     background-color:#797373;
     color:white;
}
.row3 h2{
     background: linear-gradient(#635a5a, #979797, #8e8585);
     background-color:#797373;
     color:white;
}

.row1 img{
    height:200px;
    width:340px;
}
.row2 img{
    height:200px;
    width:340px;
}
.row3 img{
    height:200px;
    width:340px;
}
.languages img{
    height:45px;
    width:45px;
}
.button p{
    margin:55px;
    text-align: center;
    height:20px; 
    border-radius:35px;
    color:white;
    background-color:green;
}


/* Footer */
.Footer{
    color:white;
    clear:both;
    border-radius: 2px;
    background-color: darkgray;
    padding:5px;
    margin:5px; 
}
.f1{
    font-weight:bold;
    padding-left:475px;
    padding-top:5px;
}
.f2{
    padding-left:410px;
    display:inline-flex;
}
.f2 img{
    align:center;
    height:20px;
    width:20px;
}  
