*{
    margin: 0px;
    padding: 0px;
}
body {  background-color: #043c6d;}

#wrapper{
    background-color: #043c6d;
    margin: 0px;
    padding-top:1px;
    padding-bottom:5px;
}
.header {
    color:#e3e5f3;
    font-weight:bold;
    border-radius: 5px;
    font-size: 25px;
    background-color: #cc2626;
    padding: 15px;
    margin:15px 15px 10px;
}
.List {
    border-radius: 18px;
    width: 250px;
    height: auto;
    padding: 35px;
    margin:15px;
    background-color:teal;
    float:left;
}
.List ul ul{
    margin:10px
}

.main_content {
    color:#dad8d8f2;
    border-radius: 18px;
    width: 850px;
    height: auto;
    background-color: #021731;
    margin:15px;
    padding:20px;
    float:left;
}

.Footer {
    color:white;
    clear:both;
    border-radius: 18px;
    width: auto;
    height: auto;
    background-color: darkgray;
    padding:15px;
    margin:15px;
}
a{
    color:#00BCD4;
}

span{
    color:#a2a2f0
    
}
.main_content ul{
    margin: 10px;
}
/* 19:12:32 for the inside of javascript  */